<h1>Flats</h1>

<!-- convention to add a link:
 --><%#= link_to 'name of the link', '#' %>
<ul>
  <% @flats.each do |flat| %>
    <li><%= link_to flat["name"], flat_path(flat['id']) %>, <%= "#{flat["price"]} #{flat["priceCurrency"]}" %></li>
  <% end %>

</ul>
